<div class="header">
  <nav>
    <a [routerLink]="['home']">Inicio</a> |
    <a [routerLink]="['about']">Acerca de...</a> |
    <a [routerLink]="['cities/MAD']">Madrid</a>
    <a [routerLink]="['cities/ALC']">Alicante</a>
    <a [routerLink]="['courses/1']">Curso 1. Nanotecnologia</a>
    <a [routerLink]="['courses/2']">Curso 2. Macanica cuantica</a>
  </nav>
</div>
<hr/>

<div class="container">
  <router-outlet></router-outlet>
  <!-- ..... -->
</div>

<footer>
  &copy; UNIR 2018, etc....
</footer>