<div class="header">
  Debug de ruta: {{ url }}
  <nav>
    <a [routerLink]="['home']"  [class.selected]="url === '/home'" >Inicio</a> |
    <a [routerLink]="['about']" [ngClass]="{ 'selected': (url === '/about') }" >Acerca de...</a> |
    <a [routerLink]="['cities/MAD']" [class.selected]="url === '/cities/MAD'">Madrid</a> |
    <a [routerLink]="['cities/ALC']" [class.selected]="url === '/cities/ALC'">Alicante</a> |
    <a [routerLink]="['courses/1']"  [class.selected]="url === '/courses/1'">Curso 1. Nanotecnologia</a> |
    <a [routerLink]="['courses/2']"  [class.selected]="url === '/courses/2'">Curso 2. Mecanica cuantica</a>
  </nav>
</div>
<hr/>

<div class="container">
  <router-outlet></router-outlet>
  <!-- ..... -->
</div>

<footer>
  &copy; UNIR 2018, etc....
</footer>